<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	throwConfigExceptions="true"
    internalLogLevel="info"
	internalLogFile="Logs\internal-nlog.txt"
	>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>		
	</extensions>

	<targets>
		<target xsi:type="File" name="logfile" fileName="Logs\log${date:format=yyyy-MM-dd}.txt"/>
		<target xsi:type="File" name="logfileWarnings" fileName="Logs\Warnnglog${date:format=yyyy-MM-dd}.txt"/>
		<target xsi:type="File" name="logfileInformation" fileName="Logs\Infolog${date:format=yyyy-MM-dd}.txt"/>
		<target xsi:type="Console" name="logconsole" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Error" final="true" writeTo="logconsole,logfile" />
		<logger name="*" minlevel="Information" maxlevel="Information" final="true" writeTo="logfileInformation" />
		<logger name="*" minlevel="Warning" maxlevel="Warning" final="true" writeTo="logfileWarnings" />
	</rules>
</nlog>
